.logo__picture {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width:999px) {
    justify-content: start;
  }
  
  picture{
    display:flex;
    align-items:center;
  }

}
