.nexa-world__container {
  background-color: black;
  display: flex;
  flex-direction: column;

  @media (width >= 999px) {
    flex-direction: row;
  }

  p {
    margin: unset;
    font-size: unset;
  }

  h2 {
    margin: unset;
    font-size: unset;
  }

  ul {
    margin: unset;
  }
}

.nexa-world__content__container {
  color: white;
  font-family: var(--font-primary-nexa);
  padding-top: 48px;
  padding-left: 20px;
  height: auto;

  @media (width >= 999px) {
    padding: 30px 0 30px 64px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media(width >=1300px){
    padding: 85px 0 85px 64px;
  }
}

.nexa-world__image {
  display: none;

  
  @media (width >= 999px) {
    display: block;
    width: 100%;
    aspect-ratio: 905/816; 
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.nexa-world__content {
  display: flex;
  flex-direction: column;
  gap: 32px;

  .description {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    width: 70%;

    @media (width >= 999px) {
      width: 376px;
      font-size: 18px;
      font-weight: 300;
      line-height: 24px;
    }
  }
}

.nexa-world__title {
  display: flex;
  flex-direction: column;
  gap: 8px;
  white-space: nowrap;

  .pre-title {
    font-family: var(--font-secondary-nexa);
    font-style: italic;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 8px;

    @media (width >=999px) {
      font-size: 48px;
      line-height: 56px;
    }
  }

  .title {
    font-family: var(--font-secondary-nexa);
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0.64px;

    @media (width >=999px) {
      font-size: 84px;
      font-weight: 700;
      line-height: 96px;
      letter-spacing: 1.68px;
    }
  }
}

.nexa-world__teaser {
  margin-top: 72px;
  padding-bottom: 45%;

  @media (width >=999px) {
    background-size:cover;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
  }

  @media(width >= 1300px){
    padding-top:30%;
  }
}

.nexa-world__links {
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (width >=999px) {
      flex-direction: row;
      gap: 24px;
    }

    a {
      text-decoration: none;
      color: unset;
    }

    li {
      color: #b2b2b2;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      width:82px;
      display:flex;
      justify-content:flex-start;

      @media(width >=999px){
      justify-content: center;
      }

      img {
        display: none;
      }
    }

    li:hover {
      font-weight: 500;
      cursor: pointer;
      color: #fff;
    }
  }
}

.nexa-world__action {
  display: inline-flex;
  width: fit-content;
  height: 40px;
  background-color: #fff;
  padding: 8px 12px;
  clip-path: polygon(4% 0, 100% 0, 100% 75%, 96% 100%, 0 100%, 0 25%);

  .btn-title {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }
  }

  .btn-title::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../../icons/location__icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  @media (width >= 999px) {
    margin-top: 32px;

    .btn-title {
      .cta-text {
        font-size: 18px;
      }
    }
  }
}

.nexa-world__image,
.nexa-world__teaser {
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
}

@media (width <= 999px) {
  .nexa-world__image {
    background-image: none;
    width:100%;
    height: auto;
  }

  .nexa-world__teaser {
    height: auto;
  }
}

@media (width >= 1000px) {
  .nexa-world__teaser {
    background-image: none;
  }
}
