footer {
  background-color: var(--primary-main);
}

footer .default-content-wrapper :is(h1, h2, h3, h4, h5, h6),
footer .default-content-wrapper p,
footer .columns-wrapper p,
footer .row {
  margin: 0;
  padding: 0;
}

footer .footer {
  margin: 0;
  padding: 20px;
}

footer .footer-top-section {
  display: none;
}

footer .footer__columns {
  display: block;
}

footer .footer__columns .column {
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-bottom: 0.5px solid rgb(255 255 255 / 30%);
  padding-bottom: 16px;
}

footer .footer__columns .column:not(:first-of-type) {
  padding-top: 16px;
}

footer .footer__columns .column__heading {
  color: #FFF;
  font-family: var(--font-primary-nexa);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin: 0;
  padding: 0;
  padding-bottom: 16px;
  position: relative;
}

footer .columns-wrapper p {
  color: #FFF;
  font-family: var(--font-primary-nexa);
  font-size: 10px;
  font-weight: 300;
  line-height: 14px;
  font-style: italic;
}

footer .footer__columns .default-content-wrapper p {
  color: #FFF;
  font-family: var(--font-primary-nexa);
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  display: inline;
  padding-right: 27px;
}

footer .footer__columns .default-content-wrapper p:has(strong) {
  padding: 0;
}

footer .footer__columns .default-content-wrapper p strong {
  display: block;
  font-weight: 400;
}


footer .footer__columns .column-0 .column__heading {
  padding-top: 0;
}

footer .footer__columns .column.contact-section .column__heading {
  display: none;
}

footer .footer__columns .user__contact .user__contact__icons a {
  padding: 0;
}

footer .row .link-grid-column.link-column-horizontal .links-container a {
  color: #B2B2B2;
  font-family: var(--font-primary-nexa);
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration-line: underline;
  display: inline;
}

footer .footer__columns li,
footer .row .link-grid-column.link-column-vertical .links-container li,
footer .row .link-grid-column.link-column-vertical .links-container li a {
  color: #B2B2B2;
  font-family: var(--font-primary-nexa);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  min-height: unset;
}

footer .footer__columns .column.contact-section .user__contact .user__contact__icons a {
  scale: 1.15;
  opacity: 0.75;
}

footer .row .link-grid-column.link-column-vertical .links-container li a:hover {
  color: #FFF;
}

footer .footer__columns .column.contact-section {
  padding-top: 32px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column-reverse;
}

footer .footer__columns .column.contact-section .user__contact :is(h1, h2, h3, h4, h5, h6) {
  display: none;
}

footer .user__contact .user__contact__icons {
  justify-content: space-between;
  align-items: center;
}

footer .footer-bottom-section {
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 32px;
}

footer .footer-bottom-section>* {
  flex-basis: 100%;
  flex-grow: 1;
}

footer .footer-bottom-section .columns-wrapper {
  display: none;
}

footer .footer__columns .accordian-item {
  padding-bottom: 0;
}

footer .footer__columns .accordian-item--expanded {
  transition: all 0.3s ease-in-out;
}

footer .accordian-item::after {
  content: "";
  position: absolute;
  right: 0;
  height: 20px;
  width: 20px;
  background-image: url("../../icons/collapes.svg");
}

footer .accordian-item--expanded::after {
  content: "";
  position: absolute;
  right: 0;
  height: 20px;
  width: 20px;
  background-image: url("../../icons/expand.svg");
}

footer .accordian-content {
  overflow: hidden;
  padding-top: 0;
  visibility: hidden;
  height: 0;
  transition: all 0.3s ease-in-out;
}

footer .accordian-content--expanded {
  padding-top: 16px;
  visibility: visible;
}

footer .row .link-grid-column.link-column-horizontal .link-column__heading {
  color: #FFF;
  font-family: var(--font-primary-nexa);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}

footer .row .link-grid-column.link-column-horizontal .accordian-content {
  overflow: auto;
  visibility: visible;
  height: fit-content;
}

footer .footer-bottom-section .link-column-horizontal .links-container {
  gap: 4px 26px;
}

@media (width >=999px) {
  footer .footer {
    margin: 0;
    padding: 64px;
  }

  footer .footer-top-section {
    display: block;
    padding-bottom: 64px;
  }

  footer .footer-top-section :is(h1, h2, h3, h4, h5, h6) {
    color: #FFF;
    font-family: var(--font-secondary-nexa);
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0.96px;
    max-width: 505px;
  }

  footer .footer__columns {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 16px;
    padding-bottom: 20px;
  }

  footer .footer__columns--collapsed,
  footer .footer__columns--collapsed .column {
    transition: all 0.3s ease-in-out;
    padding: 0;
  }

  footer .accordian-content {
    visibility: visible;
    height: fit-content;
  }

  footer .footer__link-grid-container .link-column-container {
    flex-basis: 27%;
  }

  footer .footer__link-grid-container .link-column-container:first-of-type {
    flex-basis: 18%;
  }

  footer .footer__columns .column__heading {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    padding-top: 0;
    padding-bottom: 20px;
  }

  footer .footer__columns .default-content-wrapper {
    margin: 0;
  }

  footer .footer__columns .default-content-wrapper p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.16px;
    display: block;
    padding-top: 3px;
  }

  footer .footer__columns .column {
    border-bottom: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  footer .footer__columns .column:not(:first-of-type) {
    padding-top: 0;
  }

  footer .accordian-item::after,
  footer .accordian-item--expanded::after {
    display: none;
  }

  footer .footer__columns .column.contact-section {
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  footer .footer__columns .column.contact-section .column__heading,
  footer .footer__columns .column.contact-section .user__contact :is(h1, h2, h3, h4, h5, h6) {
    display: block;
  }

  footer .footer__columns .user__contact :is(h1, h2, h3, h4, h5, h6) {
    color: #FFF;
    font-family: var(--font-primary-nexa);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.16px;
    padding: 0;
  }

  footer .user__contact .user__contact__icons {
    flex-wrap: nowrap;
    gap: 16px;
    padding-top: 16px;
    padding-bottom: 0;
  }

  footer .user__contact .user__contact__icons a:hover {
    scale: 1.2;
    background-color: transparent;
  }

  footer .footer-bottom-section {
    padding-top: 20px;
  }

  footer .footer-bottom-section .columns-wrapper {
    display: block;
  }

  footer .footer-bottom-section .columns-wrapper .columns>div {
    gap: 24px;
    align-items: stretch;
    flex-direction: row;
    justify-content: space-between;
  }

  footer .footer-bottom-section .columns-wrapper .columns>div>div {
    display: flex;
    flex-direction: column;
  }

  footer .footer-bottom-section .columns-wrapper .columns>div>* {
    flex-basis: 100%;
  }

  footer .footer-bottom-section .columns-wrapper .columns>div>div>*:last-of-type {
    margin-top: auto;
  }

  footer .footer-bottom-section .columns-wrapper .columns>.footer__two-column-section>div:first-of-type {
    flex-basis: 59%;
  }

  footer .footer-bottom-section .columns-wrapper .columns>.footer__two-column-section>div:last-of-type {
    flex-basis: 36%;
  }

  footer .footer__separator {
    height: 1px;
    width: 100%;
    background: #7b7777;
    position: relative;
    margin-top: 22px;
    margin-bottom: 22px;
  }

  footer .footer__separator::after {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: var(--tertiary-white);
    border-radius: 50%;
    background-image: url("../../icons/footer-expand.svg");
    left: 50%;
    top: -10px;
    margin-left: -10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  footer .footer__separator--collapsed::after {
    transform: rotate(180deg);
  }

  footer .collpsable {
    transition: all 0.3s ease-in-out;
    visibility: visible;
    opacity: 1;
  }

  footer .collpsable.hide__section {
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
  }

  footer .footer-bottom-section .link-column-horizontal .link-column__heading {
    margin: 0;
    padding: 0;
  }

  footer .footer-bottom-section .link-column-horizontal .links-container {
    column-gap: 34px;
  }

  footer .row .link-grid-column.link-column-horizontal .links-container a {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-decoration-line: none;
    display: inline;
  }

  footer .footer__columns .column.contact-section .user__contact .user__contact__icons a {
    scale: 1;
    opacity: 1;
  }

  footer .footer__columns .column.contact-section .user__contact .user__contact__icons a:hover {
    scale: 1.2;
  }
}
